.chat-box{ "data-message-id": "#{message.id}" }
  .top-message
    .top-message__user-name
      = message.user.name
      .top-message__user-name__time
        = message.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d(%a) %T')
  .bottom-message
    - if message.body.present?
      %p.bottom-message__text
        = message.body
    = image_tag message.image.url if message.image.present?