.wrapper
  = render "shared/left_contents"
  .contents
    .content-header
      .content-header__group
        .content-header__group__group-name
          test
        %ul.content-header__group__member
          Member：
          %li.content-header__group__member__name
            tarou
          %li.content-header__group__member__name
            jirou
      = link_to "/groups/1/edit" do
        .content-header__btn
          Edit
    .main-chat
      = render @messages
    .form
      = form_for([@group, @message], html: {class: 'message'}) do |f|
        .form-box
          = f.text_field :body, class: "form-box__text", placeholder: "type message"
          = f.label :image, class: "form-box__image" do
            %i.fa.fa-picture-o
            = f.file_field :image, class: "form-box__image__file"
        = f.submit "Send", class: "submit"